html, body{
	height:100%;
	margin:0px;
	padding:0px;
}
p{
	margin:0px;
}
button {
	border:none;
}
.alert {
	position:absolute;
	left:20px;
	top:80px;
	width:auto;
}
.card{
	max-width:500px;
	width:100%;
}
.vertical-center{
	min-height:calc(100% - 56px);
	min-height:calc(100vh - 56px);
	display:flex;
	align-items:center;
}
#signUpForm {
	display:none;
}
#newsText {
	width:300px;
	display:inline
}
#userLevel{
	background-color:#222;
}
#userName{
	background-color:#888;
	color:#000;
}
#alertBox{
	z-index:100;
}