button {
	border:none;
}
.alert {
	position:absolute;
	left:20px;
	top:80px;
	width:auto;
}
.card{
	max-width:500px;
	width:100%;
}
#signUpForm {
	display:none;
}
#newsText {
	width:300px;
	display:inline
}